{
 "semi": true,
 "singleQuote": true,
 "tabWidth": 1,
 "useTabs": false,
 "printWidth": 150,
 "jsxSingleQuote": true,
 "bracketSpacing": true,
 "jsxBracketSameLine": false,
 "proseWrap": "preserve",
 "endOfLine": "auto",
 "htmlWhitespaceSensitivity": "css"
}
