@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* POPPINS FAMILY */

@font-face {
  font-family: Poppins-Light;
  src: url(./fonts/Popins/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(./fonts/Popins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(./fonts/Popins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(./fonts/Popins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(./fonts/Popins/Poppins-Bold.ttf);
}

/* COMFORTAA FAMILY */

@font-face {
  font-family: Comfortaa-Light;
  src: url(./fonts/Comfortaa/Comfortaa-Light.ttf);
}
@font-face {
  font-family: Comfortaa-Regular;
  src: url(./fonts/Comfortaa/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: Comfortaa-Medium;
  src: url(./fonts/Comfortaa/Comfortaa-Medium.ttf);
}
@font-face {
  font-family: Comfortaa-SemiBold;
  src: url(./fonts/Comfortaa/Comfortaa-SemiBold.ttf);
}
@font-face {
  font-family: Comfortaa-Bold;
  src: url(./fonts/Comfortaa/Comfortaa-Bold.ttf);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  margin: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 12px;
  border: none;
}

#scrollableDiv::-webkit-scrollbar {
  height: 5px;
}
